
/* Theme Colors */
$color-purple: #91278F;
    $color-purple2: #B147AF;
    $color-purple-light: #B777B9;
    $color-purple-deep: #3E2A59;
		$color-purple-deep-accent: rgba(52, 32, 79, 0.5);
    $color-purple-dark: #0A002E;
$color-blue: #1882C4;
    $color-blue-light: #51C0DA;
    $color-blue-deep: #15035B;
    $color-blue-dark: #000026;
$color-navy: #464B82;
$color-white: #FFFFFF;
    $color-white-half: rgba(255, 255, 255, 0.5);
$color-grey: #8C8CAC;
    $color-grey-light: #DCDCFC;
    $color-grey-dark: #4C4C6C;
$color-black: #000;

/*
https://color.adobe.com/My-Color-Theme-color-theme-12090368/edit/?copy=true&base=2&rule=Custom&selected=4&name=Copy%20of%20My%20Color%20Theme&mode=rgb&rgbvalues=0.5686274509803921,0.15294117647058825,0.5607843137254902,0.7176470588235294,0.4666666666666667,0.7254901960784313,0.09411764705882353,0.5098039215686274,0.7686274509803922,0.3176470588235294,0.7529411764705882,0.8549019607843137,1,1,1&swatchOrder=0,1,2,3,4
https://color.adobe.com/Captura-de-Tela-2019-02-13-%C3%A0s-16-color-theme-12028160/edit/?copy=true
https://color.adobe.com/Kopie-von-Kopie-von-Avenue-of-the-Arts-Wyndham-Hotel-color-theme-12031232/edit/?copy=true&base=2&rule=Custom&selected=2&name=Copy%20of%20Kopie%20von%20Kopie%20von%20Avenue%20of%20the%20Arts%20Wyndham%20Hotel&mode=rgb&rgbvalues=0.14901960784313725,0.13333333333333333,0.13725490196078433,0.4745098039215686,0.4235294117647059,0.5490196078431373,0.24313725490196078,0.16470588235294117,0.34901960784313724,0.9490196078431372,0.9490196078431372,0.9490196078431372,0.5490196078431373,0.5490196078431373,0.5490196078431373&swatchOrder=0,1,2,3,4
https://color.adobe.com/Kopie-von-Kopie-von-Kopie-von-Kopie-von-Mein-Color-Thema-color-theme-12025089/edit/?copy=true
https://color.adobe.com/C%C3%B3pia-de-painel-imagetico-ultimate-finale-color-theme-12028929/edit/?copy=true&base=2&rule=Custom&selected=3&name=Copy%20of%20C%C3%B3pia%20de%20painel%20imagetico%20ultimate%20finale&mode=rgb&rgbvalues=0.945098,0.45098,0.533333,0.611765,0.262745,0.854902,0.0823529,0.0117647,0.356863,0,0,0.14902,0.941176,0.94902,0.94902&swatchOrder=0,1,2,3,4
https://color.adobe.com/MoodBoardSpecialProbs2-color-theme-12051713/edit/?copy=true&base=2&rule=Custom&selected=1&name=Copy%20of%20MoodBoardSpecialProbs2&mode=rgb&rgbvalues=0.7568627450980392,0.07450980392156863,0.25098039215686274,0.27450980392156865,0.29411764705882354,0.5098039215686274,0.8588235294117647,0.4627450980392157,0.7333333333333333,1,1,1,0.42745098039215684,0.9019607843137255,0.9803921568627451&swatchOrder=0,1,2,3,4
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul, ol {
	padding-left: 40px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img{
    border:0;
}
figure{
    position:relative;
}
figure img{
    width:100%;
}
img {
    width: 100%;
}
/* 
 *	End resets
 */





/* **************** */
/*		General		*/
/* **************** */
body, html {
    font-family: Lucida Sans Unicode, Lucida Grande, Sans-Serif;
 	font-size: 16px;
 	line-height: 1.5em;
    color: $color-grey-light;
}
 
input, textarea, select {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19pt;
    font-weight: 300;
    line-height: 1.75em;
    color: $color-grey;
}
h1, h2, h3, h4, h5 {
	font-family: Lucida Console, Monaco, monospace;
	font-weight: normal;
	word-spacing: -0.3em;
	letter-spacing: -0.025em;
}
h2 {
    font-size: 2em;
    line-height: 1.75em;
	text-align: center;
}
h3 {
	
}
h4 {
	font-size: 1em;
	line-height: 1.5em;
}
p {
	margin: 0 0 5px 0;
	padding: 0;
}
a {
	color: inherit;
	text-decoration: none;
	border-bottom: dotted 1px rgba(128, 128, 128, 0.5);
	-moz-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-webkit-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-ms-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	outline: 0;
	
	&:hover {
		color: $color-white;
		border-color: $color-white;
	}
}
 

/* **************** */
/*		layout		*/
/* **************** */
#main {
    
    > section.one {
        background: linear-gradient(225deg, $color-purple, $color-navy);
		background-size: 400% 400%;
		animation: colorchange 5s ease infinite;
    }
		@keyframes colorchange {
			0%{background-position:0% 50%}
      		50%{background-position:100% 50%}
      		100%{background-position:0% 50%}
	    }
    > section.two {
    background: $color-purple-deep;
    }
    > section.three {
        background: $color-navy;
    }
    > section.four {
        background: $color-blue-deep;
    }
    > section.five {
        background: $color-purple;
    }
}


/* ******************************** */
/*		header and navigation		*/
/* ******************************** */
#header {
    background: $color-blue-dark;
    color: $color-white;
    
    #logo {
        h1 {
            color: $color-white;
            font-weight: 600;
			font-size: 1.25em;
			line-height: 1em;
        }
        p {
            color: $color-white-half;
            font-size: 0.8em;
			line-height: 1.25em;
        }
    }
    
    #nav {
		line-height: 2em; 
		
        ul li {
            a {
                color: $color-white-half;
            	
				span:before {
                	color: $color-grey-dark;
					
					font-size: 1.25em;
					text-decoration: none;
					font-style: normal;
					font-weight: normal;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
            }
            a.active {
                background: $color-black;
                color: $color-white;
            	
				span:before {
                	color: $color-purple2;
            	}
			}
            
        }        
    }
    
    .icons {
        a {
            color: $color-grey-dark;
			font-size: 1.5em;
        }
        a:hover {
            color: $color-white;
        }
    }
}

/* **************** */
/*		intro		*/
/* **************** */
#intro {
    h1 {
        font-size: 3em;
        line-height: 1.5em;
		
		span {
			font-size: 0.6em;
			margin-left: 10px;
		}
    }
    p {
        font-size: 1.2em;
    }
}

#headshot {
    
    .image.headshot200 {
        width: 200px;
        height: 200px;
        right: 0;
        top: 0;
		margin: 0 20px;

        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 2px solid $color-white;
        }
    }
}
@media screen and (max-width: 960px) {
	#headshot .image.headshot200 { margin: 0; }
}



/* 
 * stylized unordered list with icons
 */
ul.icon-list {
	list-style: none;
	padding: 0;
	margin: 20px 0;
	
	li {
		margin-bottom: 40px;
		overflow: hidden;
		
		.icon {
    		float: left;
			font-size: 3em;
			text-align: center;
			margin-right: 20px;
			width: 100px;
			height: 100px;
			background: rgba(255, 255, 255, 0.35);
			border-radius: 50%;
			
			&:before {
				color: rgba(255, 255, 255, 0.4);
				line-height: 100px;
			}
		}
		p {
			font-size: 1.1em;
			line-height: 1.5em;
		}
	}
}


/* **************************************************** */
/*		list - items with description and pictures		*/
/* **************************************************** */

ul#list {
	width: 100%;
	padding: 0;
	list-style: none;
	
	li {
    	margin: 0;
		padding: 10px 0;
		border-top: 3px solid $color-purple-deep-accent;
		
		&.label {
			border: 0;
			
			+ li {
				border: 0;
			}
			
			h3 {
				font-size: 2em;
				line-height: 1.75em;
				margin: 20px 0;
			}
		}
		
		.inner {
			overflow: hidden;
			
			.details, .image {
				overflow: hidden;
				position: relative;
			}
			.details {
				width: 74%;
				float: right;
				
				&.noimage { width: 100%; }
				h4 {
			    	font-size: 1.25em;
			        line-height: 1.25em;
			        margin: 0 0 10px;
			        color: $color-grey-light;
			    }
				p {
			    	font-size: 1em;
			    	line-height: 1.25em;
			    	color: $color-grey-light;
			    }
				hr {
			        border: 0;
			        border-top: 1px solid $color-purple-dark;
					clear: both;
			    }
				
				.role { 
					font-size: 0.75em;
				}
				
				.description {
					
				}
				
				.links {
					font-size: 0.8em;
					line-height: 1.25em;
					margin-top: 10px;
					ul {
						
						li {
							margin: 0 0 8px 0;
						    padding: 0;
						    border: 0;
						}
					}
				}
			}
			.image {
				width: 24%;
				text-align: center;
				float: left;
				
				.loading {
					width: 20px;
			    	height: 20px;
			    	border-radius: 50%;
			    	background: #ddd;
			    	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
			    	position: absolute;
			    	top: 50%;
			    	left: 50%;
			    	margin: -25px 0 0 -25px;
			    	-webkit-animation: loader 0.5s infinite ease-in-out both;
			    	-moz-animation: loader 0.5s infinite ease-in-out both;
			    	animation: loader 0.5s infinite ease-in-out both;
					
					img {
						display: inline-block;
				    	max-height: 100%;
				    	max-width: 100%;
					}
				}
			}	
	    
		}
		
	}
	
}

@media screen and (max-width: 830px) {
	#list {
		.inner {
			h4 { font-size: 32px; }
			p { font-size: 13px; }
			a.large-btn { font-size: 12px; }
		}
	}
}
@media screen and (max-width: 650px) {
	#list {
		.inner {
			.image { display: none; }
			.details { float: none; width: 100%; }
		}
	}
}

@-webkit-keyframes .loading {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}
@-moz-keyframes .loading {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}
@keyframes .loading {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}




/*
$body-background-color: $color-white;

$h1-font-size: 2.5em;
$h2-font-size: 2em;
$h3-font-size: 1.25em;
$h3-underline-border: 1px solid #333;

$a-text-color: #903;


$mediaBreakLargeMax: 1400px;
$mediaBreakMediumMax: 1024px;
$mediaBreakMediumMin: 768px;
$mediaBreakSmallMax: 767px;
*/


/* **************** */
/*		General		*/
/* **************** */
/*


h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	line-height: $body-line-height;
	font-weight: 500;
}
h1 {
	font-size: $h1-font-size;
}

h2 {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
	text-transform: uppercase;
	margin-bottom: 5px;
	border-bottom: $h3-underline-border;
}
h4 {
}

p {
	margin: 0 0 5px 0;
	padding: 0;
	text-align: justify;
}
.omega p, .alpha p {
	margin: 0;
}

a {
	text-decoration: none;
	color: $a-text-color;
}
a:hover { text-decoration: underline; }

ul {
	padding-left: 20px;
    margin-left: 20px;
	list-style-type: circle;
}
li {

}

.smaller {
	font-size: .9em;
}

.hide { display: none !important; }
.test {
	height: 1000px;
	width: 20px;
	background: pink;
} */




/* **************** */
/*		layout		*/
/* **************** 
header {
	position: fixed;
	width: 100%;
	z-index: 2;
	top: 0;
}
article {
	margin-top: 75px;
	
	aside { 
		position: fixed;
		top: 75px;
		width: 250px;
	}
	aside + section {
		margin-left: 250px;
	}
}
footer {
}*/






/* **************** */
/*		Aside		*/
/* **************** 
aside {
	#asidePointer {
		border: #333;
	}
	ul {
		margin: 0;
		padding: 0;
		border-left: 3px solid #333;
		padding-left: 20px;
		
		li {
			list-style-type: none;
			margin: 20px 0;
			display: inline-block;
			
			a.active:after {
				border-top: 12px solid transparent;
			    border-bottom: 12px solid transparent;
			    border-left: 12px solid #333;
			    height: 0;
			    width: 0;
			    top: 22px;
			    content: "";
			    left: 0;
			    position: absolute;
			}
		}
	}
}*/




/* **************** */
/*		header		*/
/* **************** 
header {
	-webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	-moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	
	#navigation {
		background: #CC3366;
		
		#navigationTitle {
			display: inline-block;
			float: left;
			
			h1 {
				font-size: 1.5em;
				line-height: 52px;
				display: inline-block;
				
				a {
					color: #E8E8E8;
					&:hover {
						text-decoration: none;
						color: white;
					}
				}
			}
		}
		#navigationLarge {
			display: inline-block;
	    	float: right;
			
			ul {
				width: 100%;
				overflow: hidden;
				padding: 0;
                margin: 0;
				list-style-type: none;
				
				li {
					display: inline-block;
					float: right;
				}
				
				a {
					font-size: 1.2em;
					text-align: center;
					padding: 12px 15px 0;
					margin: 0;
					color: #D8D8D8;
					line-height: 40px;
					float: right;
					
					&.active, &:hover {
						text-decoration: none;
						position: relative;
						color: #E8E8E8;
					}
					&.active:after {
						border-left: 12px solid transparent;
						border-right: 12px solid transparent;
						border-top: 12px solid #333;
						height: 0;
						width: 0;
						top: 0;
						content: "";
						left: 50%;
						margin-left: -12px;
						position: absolute;
					}
				}
				
			}
		}
		#navigationMobile {
			display: none;
		}
		#navigationPointer {
			background: #333;
			height: 3px;
		}
	}
}
@media (min-width: $mediaBreakMediumMin) {
	#navigationLarge {
		display: inline-block !important;
	}
	#navigationPointer {
		display: block;
	}
}
@media (max-width: $mediaBreakSmallMax) {
	header {
		#navigation {
			
			#navigationPointer {
				display: none;
			}
			
			#navigationTitle {
				
			}
			
			#navigationMobile {
				display: inline-block;
				float: right;
				
				#navigationButton {
				    background: transparent;
				    height: 40px;
				    width: 35px;
				    border: 0;
					padding: 0;
					margin: 5px 0;
					float: right;
					
					#navigationIcon {
					    line-height: 40px;
					    font-size: 35px;
					    color: white;
					}
				}
			}
			
			#navigationLarge {
				display: none;
				width: 100%;
				
				li {
					width: 100%;
				}
				
				a {
					font-size: 1em;
					line-height: 1.5em;
					margin: 0;
					text-align: center;
					padding: 10px 30px;
					width: auto;
					display: block;
					float: none;
					border-top: 1px solid #AA2244;
				}
				a.active:after {
					display: none;
				}
			}
		}
	}
}*/





/* **************** */
/*		footer		*/
/* **************** 
footer {
	display: none;
	background: #282828;
}
#topFootBar {
	background: #585858;
	height: 30px;
	position: relative;
	z-index: 1;
}
#midFootBar {
	background: #282828;
	height: 70px;
	position: relative;
	z-index: 10;
}
#bottomFootBar {
	background: #CC3366;
	height: 10px;
	position: relative;
	z-index: 1;
}
@media only screen and (max-width: 767px) {
	footer { height: auto; }
	#midFootBar { display: none; }
}*/






/* **************** */
/*		home		*/
/* **************** */
/*.self_photo {
	box-shadow: 		0 0 5px #444;
	-moz-box-shadow:    0 0 5px #444;
	-webkit-box-shadow: 0 0 5px #444;
}
.social_link {
    margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	font-style: italic;
    display: inline-block;
    float: left;
    
    &.general {
        padding-left: 20px;
        border-left: 1px solid $body-text-color;
    }
}
.social_link .icon {
	height: 60px;
	width: 60px;
	display: inline-block;
	margin-right: 20px;
	float: left;
	text-align: center;
	background: #303030;
	border-radius: 50%;
}
.social_link .icon .fa {
	line-height: 60px;
	font-size: 2em;
	color: white;
}
.social_link a {
	line-height: 60px;
	display: inline-block;
	float: left;
}
.social_link.general .link {
	float: left;
	overflow: hidden;
}
.social_link.general p {
	line-height: 30px;
	display: block;
	clear: both;
	margin: 0;
}

@media only screen and (max-width: 1160px) and (min-width: 768px) {
	.social_link.column6 {
		width: 48%;
	}
}
@media only screen and (max-width: 767px) {
	.social_link.column6 {
		width: 98%;
	}
}*/





/* **************** */
/*		CV			*/
/* **************** 
.cv_title {
	display: inline-block;
}
.cv_download {
	float: right;
	margin-top: 18px;
	font-size: 1.3em;
}
.cv_sec + .cv_sec_sub {
	margin-top: 5px;
}
.cv_sec_sub h3 {
	text-transform: none;
	border-bottom-style: dotted;
}*/






/* **************************** */
/*		publications			*/
/* **************************** 
.publication h3 {
	font-weight: bold;
}
.abstract {
	margin-bottom: 10px;
}
.abstract-text {
	height: 81px;
    overflow: hidden;
}*/
